@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Regular.eot');
  src: local('FSIndustrieNw Regular'), local('FSIndustrieNw-Regular'),
  url('../fonts/fsind/FSIndustrieNw-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Regular.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Regular.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Medium.eot');
  src: local('FSIndustrieNw Medium'), local('FSIndustrieNw-Medium'),
  url('../fonts/fsind/FSIndustrieNw-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Medium.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Medium.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Thin.eot');
  src: local('FSIndustrieNw Thin'), local('FSIndustrieNw-Thin'),
  url('../fonts/fsind/FSIndustrieNw-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Thin.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Thin.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Black.eot');
  src: local('FSIndustrieNw Black'), local('FSIndustrieNw-Black'),
  url('../fonts/fsind/FSIndustrieNw-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Black.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Black.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Light.eot');
  src: local('FSIndustrieNw Light'), local('FSIndustrieNw-Light'),
  url('../fonts/fsind/FSIndustrieNw-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Light.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Light.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FSIndustrieNw';
  src: url('../fonts/fsind/FSIndustrieNw-Bold.eot');
  src: local('FSIndustrieNw Bold'), local('FSIndustrieNw-Bold'),
  url('../fonts/fsind/FSIndustrieNw-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsind/FSIndustrieNw-Bold.woff2') format('woff2'),
  url('../fonts/fsind/FSIndustrieNw-Bold.woff') format('woff'),
  url('../fonts/fsind/FSIndustrieNw-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

