@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Regular.eot');
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'),
  url('../fonts/yantra/Yantramanav-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Regular.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Regular.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Medium.eot');
  src: local('Yantramanav Medium'), local('Yantramanav-Medium'),
  url('../fonts/yantra/Yantramanav-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Medium.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Medium.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Thin.eot');
  src: local('Yantramanav Thin'), local('Yantramanav-Thin'),
  url('../fonts/yantra/Yantramanav-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Thin.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Thin.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Black.eot');
  src: local('Yantramanav Black'), local('Yantramanav-Black'),
  url('../fonts/yantra/Yantramanav-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Black.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Black.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Light.eot');
  src: local('Yantramanav Light'), local('Yantramanav-Light'),
  url('../fonts/yantra/Yantramanav-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Light.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Light.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/yantra/Yantramanav-Bold.eot');
  src: local('Yantramanav Bold'), local('Yantramanav-Bold'),
  url('../fonts/yantra/Yantramanav-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yantra/Yantramanav-Bold.woff2') format('woff2'),
  url('../fonts/yantra/Yantramanav-Bold.woff') format('woff'),
  url('../fonts/yantra/Yantramanav-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

