.hero-home {
  width: 100%;
  height: 100vh;
  z-index: 2;

  .container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .play {
      width: 4.5313vw;
      height: 4.5313vw;
      margin-top: 1.5625vw;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .big-title {
    //position: fixed;
    //top: 30vh;
  }

  .hero-home__bg {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s linear;
  }

  .container {
    .play {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.4s linear;
    }

    .scroll-rev {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.4s linear;
    }
  }

  &.reveal {
    .hero-home__bg {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s linear;
    }

    .container {
      .play {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s linear;
      }

      .scroll-rev {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s linear;
      }
    }
  }
}

.reveal-hand {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: opacity 0.5s ease;
  opacity: 0;

  &.reveal {
    opacity: 1;
  }

}

.bg-hand {
  width: 29.3750vw;
  height: 42.6563vw;
  position: absolute;
  bottom: 0;
  right: 4.7917vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .trigger {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .trigger2 {
    position: absolute;
    top: calc(50% + 15vh);
    right: 0;
  }
}

.scroll-rev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 6.4063vw;
  left: 50%;
  transform: translate(-50%, 0);

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4583vw;
    line-height: 1.3021vw;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.1458vw;
  }

  .scr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    img {
      width: 1.8229vw;
      height: 1.0417vw;
      opacity: 0;

      &:nth-child(1) {
        animation: scrDown 2s linear infinite;
      }

      &:nth-child(2) {
        animation: scrDown2 2s linear infinite;

      }

      &:nth-child(3) {
        animation: scrDown3 2s linear infinite;

      }
    }
  }
}

@keyframes scrDown {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrDown2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrDown3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}

.hero-home__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .img {
    z-index: 2;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img, video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .video {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.skills {
  width: 100%;

}

.skills-top {
  width: 100%;
  background: #FDC200;
  //padding: 8.2813vw 0 21.1458vw;
  padding: 8.2813vw 0 21vw;
  //height: 100vh;
}

.skills-top__cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;


  .man {
    margin-top: 2.1875vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 15.6250vw;

    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 0.9375vw;
        line-height: 1.3021vw;
        text-align: center;
        color: #001524;
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 1.4583vw;
        line-height: 1.7708vw;
        text-align: center;
        color: #001524;
      }
    }

    .img {
      width: 15.6250vw;
      height: 15.6250vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 1.1979vw;

      &::before {
        width: 8.0208vw;
        height: 6.3542vw;
        display: inline-block;
        content: '';
        position: absolute;
        bottom: 13.6458vw;
        left: 10.5729vw;
        z-index: 1;
        background: url("../img/blockquoete.svg") no-repeat center / 100%;
      }

      img {
        position: relative;
        z-index: 2;
        border-radius: 50%;
        background: #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.text-skills {
  position: relative;

  .trigger {
    top: -10.4479vw;
    position: absolute;
  }

  &::before {
    position: absolute;
    top: -2.4479vw;
    left: 50%;
    width: 2.4479vw;
    height: 2.4479vw;
    transform: translate(-50%, -100%) scale(1.2);
    display: inline-block;
    content: '';
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    background: url("../img/star-white.svg") no-repeat center / 100%;
  }

  &.active {
    &::before {
      opacity: 1;
      filter: blur(0);
      transform: translate(-50%, -100%);

    }
  }

  width: 100%;
  max-width: 45.6250vw;
  margin-left: 4.7396vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1250vw;
    line-height: 2.6042vw;
    color: #133D60;
    margin-bottom: 1.1458vw;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3021vw;
    line-height: 1.8229vw;
    color: #001524;
    margin-bottom: 1.4063vw;
  }
}

.skills-bot {
  background: #001524;
  position: relative;

  .parall {
    position: absolute;
    left: 0;
    top: 140%;
    width: 5.9896vw;
    height: 69.6875vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


.skill-cards {
  width: 100%;
  //margin-top: -16.0938vw;
  margin-left: 20.3646vw;
  margin-right: auto;
  max-width: 45.6250vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.7604vw;
  transform: translate(0, -16.0938vw);
}

.single-skill-card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 20.7292vw;
  width: 100%;
  min-height: 31.8750vw;

  &:nth-child(2) {
    transform: translate(0, 12.6042vw);
  }

  .single-skill-card__cont {
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.1));
    border-radius: 1.6667vw;
    background: #fff;
    padding: 3.1250vw 1.3021vw;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
    justify-content: flex-start;

  }

  .img {
    width: 100%;
    padding: 0 0.8333vw;
    box-sizing: border-box;
    height: 10.2083vw;
    margin-bottom: 0.8854vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0.8333vw;
      right: 0.8333vw;
      height: 100%;
      background: var(--after) no-repeat center / 100%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &.hide {
      img {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    img {
      transition: opacity 0.3s ease;
      width: 100%;
      max-width: 16.4583vw;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 1.8229vw;
      line-height: 2.0313vw;
      text-align: center;
      color: #133D60;
      display: inline-block;
      margin-bottom: 2.8125vw;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 0.9375vw;
      line-height: 1.3021vw;
      text-align: center;
      color: #001524;
    }
  }
}


.promises-height {
  height: calc(100vh + (32vh * var(--amounts)));
  width: 100%;
  position: relative;

  .trigger-b {
    position: absolute;
    top: 42.7vh;
  }


  .triggers-blocks {
    z-index: 2;
  }

  .trigg {
    height: 2px;
    width: 100%;
    color: red;
    position: absolute;
    z-index: 3;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        top: calc(52.7vh + (26vh * (#{$i} - 1)));
      }
    }
  }

  .trigger-s {
    position: absolute;
    top: 0;
  }

  .star-mov {
    width: 2.8229vw;
    height: 2.8229vw;
    position: absolute;
    top: -29.8vw;
    left: 29.3vw;
    opacity: 0;

    &.hide {
      opacity: 1;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
}

.promises {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  padding: 4.5833vw 0;
  height: 100vh;
  margin-top: -11vw;

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1250vw;
    line-height: 2.6042vw;
    color: #FFFFFF;
  }

  .big-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.8229vw;
    line-height: 2.0313vw;
    color: #fff;
    font-weight: 700;

    &::before {
      opacity: 0;
      width: 1.8229vw;
      height: 1.8229vw;
      display: inline-block;
      position: absolute;
      content: '';
      top: -0.8vw;
      left: 50%;
      transition: opacity 0.3s ease;
      transform: translate(-50%, -100%);
      background: url("../img/star-vector.svg") no-repeat center / 100%;
    }

    &.visible {
      &::before {
        opacity: 1;
      }
    }

    strong {
      font-weight: 900;
      font-size: 8.7500vw;
      line-height: 1.15;
      display: inline-block;
      color: transparent;

      background-image: linear-gradient(277.97deg, #CF5734 0.92%, #D86E2D 13.51%, #F2AD19 59.59%, #FAC013 93.01%);

      -webkit-background-clip: text;
      text-shadow: none;
      text-transform: uppercase;
    }
  }
}

.promises-list {
  width: 100%;


}

.single-promises {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2.3958vw;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear;

  &.visible {
    opacity: 1;
  }

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8229vw;
    line-height: 1.11;
    color: #FFFFFF;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3021vw;
    line-height: 1.41;
    color: #FFFFFF;
  }

  .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.8229vw;
    height: 1.8229vw;
    flex-shrink: 0;
    margin-right: 0.5729vw;
    background: url("../img/star-vector.svg") no-repeat center / 100%;
  }

  &:nth-child(1) {
    max-width: 23.3333vw;
    width: 100%;
    top: 6.2729vw;
    right: 10.2vw;
  }

  &:nth-child(2) {
    max-width: 18.0208vw;
    width: 100%;
    //top: 17.3875vw;
    top: 11.3875vw;
    left: 19.4188vw;
  }

  &:nth-child(3) {
    max-width: 18.0208vw;
    width: 100%;
    //top: 20.221vw;
    top: 15.221vw;
    right: 2.3875vw;
  }

  &:nth-child(4) {
    max-width: 20.9896vw;
    width: 100%;
    //top: 42.75042vw;
    top: 34.75042vw;
    right: 14.9438vw;
  }

  &:nth-child(5) {
    max-width: 16.0938vw;
    width: 100%;
    //top: 46.3979vw;
    top: 32.3979vw;
    left: 3.2088vw;
  }

  &:nth-child(6) {
    max-width: 24.4792vw;
    width: 100%;
    bottom: 10.1563vw;
    left: 20.6146vw;
  }
}

.logo-section {
  width: 100%;
  padding: 10.4688vw 0 7.1875vw;
}

.logo-section__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1250vw;
    line-height: 2.6042vw;
    color: #133D60;
    margin-bottom: 1.0938vw;
    display: inline-block;
  }

  > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3021vw;
    line-height: 1.8229vw;
    color: #001524;
    width: 100%;
    display: inline-block;
    max-width: 38.7500vw;
  }
}

.logo-blocks {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.8750vw;
  margin-top: 4.0625vw;

}

.logo-video {
  width: 100%;
  height: 44.6354vw;
  background: #F2F2F2;
  overflow: hidden;


  iframe, video {
    width: 100%;
    height: 100%;
  }
}

.logo-diff {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5625vw;
}

.logo-block {
  width: calc(50% - (1.5625vw / 2));
  background: #F2F2F2;
  height: 17.6563vw;
  padding: 5.7292vw 2.2396vw 2.2396vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .img {
    height: 4.2188vw;
    width: auto;
    margin-bottom: 0.7813vw;

    img {
      height: 100%;
      width: auto;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.3021vw;
    text-align: center;
    color: #001524;
  }
}

.colors-section {
  width: 100%;
  padding: 4.0104vw 0 6.8750vw;
  position: relative;
  overflow: hidden;

  .parall {
    top: -130vh;
    right: 0;
    position: fixed;
    width: 6.0938vw;
    height: 68.5417vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.colors-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1250vw;
    line-height: 2.6042vw;
    color: #133D60;
    margin-bottom: 1.0938vw;
    display: inline-block;
  }

  > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3021vw;
    line-height: 1.8229vw;
    color: #001524;
    width: 100%;
    display: inline-block;
    max-width: 45.7292vw;
    margin-bottom: 2.0833vw;
  }

  & > .anim {
    opacity: 0;
  }
}

.colors-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  animation-delay: 0.3s !important;
}

.single-color {
  width: calc(100% / 5);
  height: 8.0729vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);

  &.anim {
    opacity: 1;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.3021vw;
    text-align: center;
    color: #FFFFFF;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      $z: calc(6 - #{$i});
      $tr: calc(-100% * (#{$i - 1} * 1));
      transform: translate($tr, 0);
      z-index: $z;
      transition: transform calc(0.23s * #{$i}) linear !important;
      transition-delay: calc(0.09s * #{$i}) !important;

      &.done {
        transform: translate(0, 0);
      }
    }
  }
  @for $i from 6 through 7 {
    &:nth-child(#{$i}) {
      height: 4.0625vw;
      width: 50%;
      opacity: 0;
      transition: opacity 0.9s ease !important;
      transition-delay: calc(0.8s * (#{$i} - 5)) !important;

      &.anim {
        opacity: 0;
      }

      &.done {
        opacity: 1;
      }
    }
  }
}

.merch-section {
  width: 100%;
  padding: 6.8229vw 0 8.4896vw;
}

.merch-cont {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1250vw;
    line-height: 2.6042vw;
    color: #133D60;
    margin-bottom: 1.0938vw;
    display: inline-block;
  }

  > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3021vw;
    line-height: 1.8229vw;
    color: #001524;
    width: 100%;
    display: inline-block;
    max-width: 45.7292vw;
    margin-bottom: 2.0833vw;
  }

  & > .anim {
    opacity: 0;
  }

}

.merch-list {
  width: 100%;
  margin-top: 5.5729vw;
  padding-left: 2.2917vw;
  padding-right: 9.4792vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;

  .img {
    width: 50%;
    height: 19.6875vw;
    display: flex;
    overflow: hidden;

    &.pen {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 9.4792vw;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      img {


        animation-delay: 0.2s !important;
      }
    }

    &:nth-child(2) {
      img {
        animation-delay: 0.5s !important;
      }
    }

    &:nth-child(3) {
      img {
        animation-delay: 1s !important;
      }
    }

    &:nth-child(4) {
      img {
        animation-delay: 0.7s !important;
      }
    }

    &:nth-child(5) {
      img {
        animation-delay: 1.4s !important;
      }
    }
  }
}

.website {
  width: 100%;
  padding-top: 6.6667vw;
  padding-bottom: 5.8333vw;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
      width: 69.7979vw;
      height: 47.6042vw;
      display: flex;
      margin-bottom: 1.4063vw;

      img {
        width: 100%;
        height: 100%;
      }
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 3.1250vw;
      line-height: 2.6042vw;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 0.9vw;
      display: inline-block;
      max-width: 43.3333vw;
      margin-top: -5.2vw;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.3021vw;
      line-height: 1.8229vw;
      text-align: center;
      color: #FFFFFF;
      max-width: 43.3333vw;
    }
  }

  .round {
    background: linear-gradient(277.97deg, #CF5734 0.92%, #D86E2D 13.51%, #F2AD19 59.59%, #FAC013 93.01%);
    width: 150vw;
    border-radius: 50%;
    height: 94vw;
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, 0);
    transition: transform 1.2s ease;
  }

  .trigger-round {
    position: absolute;
    top: 30vw;
    left: 0;
    right: 0;
    height: 1px;

    &.anim {
      &.done {
        & ~ .round {
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

.vision {
  width: 100%;
  background: linear-gradient(97.57deg, #062137 1.97%, #0F3554 41.76%, #0E4E70 76.41%, #056A8B 100%);
  position: relative;
  padding: 13.2292vw 0 12.2396vw;

  .trg-1 {
    position: absolute;
    top: calc(100% * 0.6 * 0.3);
    height: 2px;
    width: 100px;
    right: 0;
    //background: white;
  }

  .trg-2 {
    position: absolute;
    top: calc((100% * 0.6 * 0.3) * 2);
    height: 2px;
    width: 100px;
    right: 0;
    //background: white;
  }

  .star-planet {
    width: 2.8854vw;
    height: 2.8854vw;
    position: absolute;
    bottom: 41vw;
    right: 22vw;
    z-index: 4;
    filter: blur(8px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    z-index: 2;
    position: relative;
  }

  .text {
    width: 100%;
    max-width: 32.4479vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      display: inline-block;
      margin-bottom: 1.4583vw;

      font-style: normal;
      font-weight: 700;
      font-size: 3.1250vw;
      line-height: 2.6042vw;
      color: #FFFFFF;
    }

    p {
      margin-bottom: 3.3854vw;

      &:last-child {
        margin-bottom: 0;
      }

      font-style: normal;
      font-weight: 400;
      font-size: 1.3021vw;
      line-height: 1.8229vw;
      color: #fff;

      strong {
        font-weight: 700;
        font-size: 1.8229vw;
        line-height: 2.0313vw;
        color: #FDC200;
      }
    }
  }

  .planet {
    z-index: 2;
    position: absolute;
    width: 42.5521vw;
    bottom: 0;
    right: 0;
    height: 40.9896vw;
    mix-blend-mode: luminosity;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &::after {
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    background: url("../img/pattern.png") repeat-y top left / 100%;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.footer {
  width: 100%;
  padding: 1.2500vw 0 1.1979vw;
  background: #001524;
  z-index: 5;
}

.footer-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.3021vw;
    text-align: center;
    color: #FFFFFF;
  }

  .logow {
    width: 10.9896vw;
    height: auto;
    display: flex;

    a, img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-right: 1.9271vw;

      &:last-child {
        margin-right: 0;
      }

      a {
        height: 1.3021vw;
        width: auto;
        display: flex;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.desk-only {
  display: flex !important;
}

.mob-only {
  display: none !important;
}

.section {
  width: 100%;
}

.modal-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(4px);
  background: rgba(0, 21, 36, 0.73);
  padding: 1.0417vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  &.opened {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-container {
  width: 100%;
  height: 175.0000vw;
  max-width: 62.5000vw;
  padding: 2.6042vw 2.0833vw;
  background: #fff;
  border-radius: 20px;
  position: relative;
  max-height: calc(100vh - 2.0833vw);
}
.close-video {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1.5625vw;
  height: 1.5625vw;
  cursor: pointer;
  span {
    background: #D86E2D;
    height: 2px;
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.video-cont {
  width: 100%;
  height: 100%;
  video, iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 920px) {

  .scroll-rev {
    pointer-events: auto;
    .scr {
      img {
        width: 4.7222vw !important;
        height: 2.7778vw !important;

      }
    }
  }
  .modal-window {
    padding: 20px;
  }
  .close-video {
    width: 8.3333vw;
    height: 8.3333vw;
  }
  .modal-container {
    width: 100%;
    max-width: 100%;
    padding: 11.1111vw 5.5556vw;
    max-height: calc(100vh - 11.1111vw );
  }
  .big-title {
    font-size: 20.8333vw;
    line-height: 16.6667vw;
  }
  .hero-home {
    .container {
      justify-content: flex-start;

      .big-title {
        margin-top: 22.2222vw;
      }

      .play {
        width: 12.2222vw;
        height: 12.2222vw;
        margin-top: 15.5556vw;
      }
    }
  }
  .star-big {
    width: 48.8438vw;
    height: 48.375vw;
    position: absolute;
    right: 29.2vw;
    bottom: 56.2vw;
  }
  .promises-height .trigger-b {
    position: absolute;
    top: 28.8vh;
  }
  .promises .big-title::before {
    width: 6.9444vw;
    height: 6.9444vw;
  }
  .vision .star-planet {
    width: 4.8854vw;
    height: 4.8854vw;
    position: absolute;
    bottom: 144vw;
    right: 25vw;
    filter: blur(4px);
  }
  .vision {
    .trg-1 {
      background: #fff;
      pointer-events: none;
      opacity: 0;
      top: calc((100% * 0.37) + ((100% * 0.37) / 3));
    }

    .trg-2 {
      opacity: 0;
      pointer-events: none;
      background: #fff;
      top: calc((100% * 0.37) + (((100% * 0.37) / 3) * 2));
    }
  }
  .text-skills {
    &::before {
      width: 9.4444vw;
      height: 9.4444vw;
      left: 0;
      transform: translate(0, -100%) scale(1);
    }

    &.active {
      &::before {
        transform: translate(0, -100%) scale(1);

      }
    }
  }
  .promises-height .star-mov {
    width: 6.8229vw;
    height: 11.8229vw;
    position: absolute;
    top: -173vw;
    left: 43%;
  }
  .bg-hand {
    width: 70.2778vw;
    height: 101.1111vw;
    right: 5.5556vw;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: initial;
    }
  }
  .scroll-rev {
    bottom: 15.0000vw;

    p {
      font-size: 4.4444vw;
      line-height: 3.0556vw;
      margin-bottom: 2.2222vw;
    }


  }

  .skills-top {
    padding-top: 21.6667vw;
    padding-bottom: 68.6111vw;
    height: auto;
  }
  .skills-top__cont {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .btn.btn--vid {
    font-size: 4.4444vw;
    line-height: 4.7222vw;
    padding: 2.7778vw 9.7222vw 2.7778vw 3.6111vw;
    border-radius: 5.8333vw;

    &::after {
      width: 6.1111vw;
      height: 6.1111vw;
      right: 1.6667vw;
    }
  }
  .skills-top__cont .man {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: none;
    width: 100%;

    .btn {
      margin-top: 5.0000vw;
    }

    .text {
      margin-top: 18.6111vw;
      margin-left: 5.5556vw;
      width: calc(100% - 46.9444vw);
      align-items: flex-start;
      justify-content: flex-start;

      span {
        font-size: 5.5556vw;
        line-height: 6.3889vw;
      }

      p {
        font-size: 3.8889vw;
        line-height: 4.7222vw;
        text-align: left;
      }
    }

    .img {
      width: 41.3889vw;
      height: 41.3889vw;

      &::before {
        width: 23.3333vw;
        height: 18.3333vw;
        top: -0.8333vw;
        left: 40.0000vw;
      }
    }
  }
  .text-skills {
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    span {
      font-size: 9.7222vw;
      line-height: 11.1111vw;
      margin-bottom: 1.9444vw;
    }

    P {
      font-size: 4.4444vw;
      line-height: 6.1111vw;
      margin-bottom: 6.6667vw;
    }
  }

  .skill-cards {
    width: 100%;
    max-width: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    gap: 9.1667vw;
    transform: translate(0, -53.0556vw);
  }
  .single-skill-card:nth-child(2) {
    transform: none;
  }
  .single-skill-card {
    width: 100%;
    min-height: 136.9444vw;
    max-width: none;

    .single-skill-card__cont {
      filter: drop-shadow(0px 24.1595px 24.1595px rgba(0, 0, 0, 0.1));
      border-radius: 7.2222vw;
      padding: 11.3889vw 8.3333vw 8.3333vw;
    }

    .img {
      padding: 0;
      height: 44.7222vw;
      margin-bottom: 1.6667vw;

      img {
        max-width: none;
      }
    }

    .text {
      span {
        font-size: 9.7222vw;
        line-height: 11.1111vw;
        margin-bottom: 4.1667vw;
      }

      p {
        font-size: 4.4444vw;
        line-height: 6.1111vw;
      }
    }
  }
  .promises {
    height: 177.5000vw;
    padding-top: 9.0556vw;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 12.5000vw;

    > span {
      font-size: 9.7222vw;
      line-height: 11.1111vw;
    }

    .big-title {
      font-size: 6.1111vw;
      line-height: 6.6667vw;
      top: 47%;
      left: 51%;
      width: 80%;

      strong {
        font-size: 20.8333vw;
        line-height: 16.6667vw;
      }
    }
  }
  .single-promises {
    padding-left: 11.1111vw;
    max-width: 73.3333vw !important;
    width: 100%;

    .star {
      width: 6.9444vw;
      height: 6.9444vw;

    }

    span {
      font-size: 6.1111vw;
      line-height: 6.6667vw;
    }

    p {
      font-size: 4.4444vw;
      line-height: 6.1111vw;
    }

    &:nth-child(1) {
      top: 32.2729vw;
    }

    &:nth-child(2) {
      top: 121.0875vw;
      left: 19.4188vw;
    }

    &:nth-child(3) {
      top: 26.221vw;
      right: -4.6125vw;
    }

    &:nth-child(4) {
      top: 113.75042vw;
    }

    &:nth-child(5) {
      top: 150.3979vw;
      left: -0.7912vw;
    }

    &:nth-child(6) {
      top: 25.1563vw;
      left: 7.6146vw;
      bottom: auto;
    }
  }
  .logo-section {
    width: 100%;
    padding-top: 16.1111vw;
    padding-bottom: 15.5556vw;
  }
  .logo-section__cont {
    > span {
      font-size: 9.7222vw;
      line-height: 11.1111vw;
      margin-bottom: 3.0556vw;
    }

    > p {
      font-size: 4.4444vw;
      line-height: 6.1111vw;
      max-width: 85.5556vw;
    }
  }
  .logo-blocks {
    width: 100%;
    margin-top: 10.5556vw;
    gap: 4.1667vw;
  }
  .logo-video {
    height: 75.8333vw;
  }
  .logo-diff {
    gap: 5.5556vw;
  }
  .logo-block {
    width: calc(100% - (5.5556vw / 2));
    height: 36.1111vw;
    padding: 14.7222vw 3.6111vw 3.6111vw;

    .img {
      height: 5.8333vw;
    }

    p {
      font-size: 3.3333vw;
      line-height: 2.5000vw;
    }
  }
  .colors-section {
    width: 100%;
    padding-bottom: 0;
    padding-top: 8.3333vw;

    .container {
      padding: 0 4.7222vw;
    }
  }
  .colors-cont {
    > p {
      font-size: 4.4444vw;
      line-height: 6.1111vw;
      max-width: 77.7778vw;
      margin-bottom: 6.5556vw;

      &:last-of-type {
        margin-bottom: 10.5556vw;
      }
    }

    > span {
      font-size: 9.7222vw;
      line-height: 11.1111vw;
      margin-bottom: 4.1667vw;
    }
  }
  .colors-list {
    width: calc(100% + (4.7222vw * 2));
    margin-left: -4.7222vw;
    margin-right: -4.7222vw;
  }
  .single-color:nth-child(6), .single-color:nth-child(7) {
    height: 31.1111vw;
  }
  .single-color {
    height: 44.7222vw;
    padding-left: 1vw;
    padding-right: 1vw;

    p {
      font-size: 3.8889vw;
      line-height: 4.1667vw;
    }
  }
  .skills {
    z-index: 2;
  }
  .colors-section .parall {
    width: 10.2778vw;
    height: 125.8333vw;
    position: fixed;
    top: -120%;
    z-index: 100;
  }
  .merch-section {
    width: 100%;
    padding-top: 17.5000vw;
    padding-bottom: 9.7222vw;
    overflow: hidden;
  }
  .merch-cont {
    > span {
      font-size: 9.7222vw;
      line-height: 11.1111vw;
      margin-bottom: 13.8889vw;
    }
  }
  .merch-list {
    margin-top: 0;
    width: calc(100% + (2.7778vw * 2));
    margin-left: -2.7778vw;
    margin-right: -2.7778vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 18.8889vw;

    .img {
      width: 100%;
      height: 55.0000vw;
      display: flex;
      overflow: hidden;
      margin-left: 6vw;
      flex-shrink: 0;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 5;
      }

      &.pen {
        position: absolute;
        right: 0;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 18.8889vw;
        margin-left: 0;
      }
    }
  }

  .website {
    padding-top: 12.2222vw;
    padding-bottom: 9.1667vw;

    .container {
      padding: 0 1.9444vw;

      .img {
        width: 95.8333vw;
        height: 58.6111vw;
      }

      span {
        font-size: 9.7222vw;
        line-height: 11.1111vw;
        margin-top: -1.2vw;
      }

      p {
        max-width: 84.1667vw;
        font-size: 4.4444vw;
        line-height: 6.1111vw;
      }
    }

    .round {
      height: 130vw;
      width: 170vw;
      top: 80%;
      transform: translate(-50%, 0);
    }
  }

  .website .trigger-round.anim.done ~ .round {
    transform: translate(-50%, 0);
  }

  .desk-only {
    display: none !important;
  }

  .mob-only {
    display: flex !important;
  }

  .vision {
    overflow: hidden;
    padding-bottom: 151.9333vw;
    padding-top: 15.0889vw;
    background: linear-gradient(97.57deg, #062137 1.97%, #0F3554 41.76%, #0E4E70 76.41%, #056A8B 100%);

    .container {
      padding: 0 7.7778vw;
    }

    &::after {
      background: url("../img/pattern.png") repeat-y top left / 533.3333vw;
    }

    .planet {
      width: 143.8889vw;
      height: 143.8889vw;
      right: -61.9444vw;
      bottom: 0;
    }
  }

  .vision-cont {
    width: 100%;
    max-width: 76.3889vw;

    .text {
      width: 100%;
      max-width: none;

      span {
        font-size: 9.7222vw;
        line-height: 11.1111vw;
        margin-bottom: 5.4444vw;
      }

      p {
        font-size: 4.4444vw;
        line-height: 6.1111vw;
        margin-bottom: 12.1111vw;

        &:last-child {
          margin-bottom: 0;
        }

        strong {
          font-size: 4.4444vw;
          line-height: 6.1111vw;
        }
      }
    }
  }

  .container {
    max-width: none;
    width: 100%;
  }

  .footer {
    padding-top: 8.8889vw;
    padding-bottom: 6.6667vw;
  }

  .footer-cont {
    flex-wrap: wrap;
    gap: 3.3333vw;

    .logow {
      order: 1;
      width: 43.3333vw;
    }

    ul {
      order: 2;

      li {
        margin-right: 5.5556vw;

        a {
          height: 5.5556vw;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p {
      order: 3;
      width: 100%;
      text-align: left;

      font-size: 3.8889vw;
      line-height: 6.9444vw;
    }
  }
}